body {
    background: #333;
    margin:0 auto;
    width:1000px;
}

svg {
    width:1000px;
    height: 700px;
    position:absolute;
    background-image: url('../telerik.png');
    display: none;
}

#gameField {
    position:absolute;
    width:1000px;
    height:700px;
}
